body{
    margin:0;
}

.site {
    background-image: url("../../assets/images/World.svg"),
    url("../../assets/images/Moon.svg")
    ;
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    background-size: 25%;
}

.title-wrapper{
    font-size: 1.5em;
    padding: 20px;

    .title-text-2 {
        color: blue;
    }
}

.advisor-wrapper{
    width: 70%;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 20px;
    // display:grid;
    // grid-template-columns: repeat(5,100px);
    // grid-template-rows: repeat(3,auto);
    // grid-row-gap: 50px;
    // grid-column-gap: 50px;

    .advisor-card{
        border-radius: 30px;
        background-color: black;
        height: 130px;
        width: 150px;
        margin: 20px;
        color: white;
        text-align: center;
        justify-content: end;

        .advisor-text {
            padding-top: 60%;
        }
    }
}