.right-section {
  position: relative;
  color: #fff;
  background-color: #000;
  .message1-grid,
  .message2-grid {
    font-size: 1.5rem;
    padding: 4rem 2rem;
    h3 {
      text-align: center;
    }
  }
  .tennis-photo-grid {
    max-height: 17rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .seat-photo-grid {
    max-height: 10rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .wrap-basketball-photo {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 25rem;
    margin-bottom: -3px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
