
.top {
    height: 100vh;
    // background: url("../../assets/images/image\ 9.png") no-repeat center center/cover;
    background: black;
    display: flex;
}
.top__logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.top__logo img {
    width: 500px;
    height: 200px;
    margin-bottom: 8rem;
    margin-left:5rem ;
}
.top__text {
    flex-grow: 1;
    line-height: 3rem;
    color: white;
    font-size: 2.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    font-weight: 500;
}

#wave-1, #wave-2 {
    position: absolute;
    margin-top: 55vh;
    width: 100vw;
}