// footer {
//   display: grid;
//   grid-template-columns: 1fr 2fr 1fr;
//   background-color: 151414;
//   color: FBF9F9;
//   padding: 1.5rem;
//   align-items: center;
//   justify-content: center;
// }
.Footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: white;
  background-color: black;
  padding: 1rem;
  font-family: roboto;
}

.company-phone {
  display: flex;
}

.phone-style {
  padding-left: 1.5rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.first-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}