@import "../../assets/sass/mixin";

.Footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: white;
  background-color: black;
  padding: 1rem;
  font-family: roboto;
  @include mq(xs) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row: 1fr;
    grid-template-areas: 
    "logo"
    "locations"
    "contact" 
  }
}

.copyright {
  padding: 3%;
}

.company-phone {
  display: flex;
}

.phone-style {
  padding-left: 1.5rem;
}


.phone-style a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
    @include mq (xs) {
      grid-area: logo;
    }
}

.first-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include mq (xs) {
    grid-area: contact;
  }
}

.flash {
  @include mq (xs) {
    grid-area: locations;
  }
}

.logos {
  position: relative;
  will-change: top, left;
  left: 42px;
  top: 10px;
}

.address {
  padding: 1rem;
}

.footer__menu a {
  text-decoration: none;
  color: white;
}


/*-----------------mobile---------------*/

@media only screen and (max-width: 768px) {
  .Footer {
    display: flex;
    flex-direction: column;
    padding: 14%;
  }
}